# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# PyInstaller
# Ignorar archivos generados por PyInstaller
*.manifest
*.spec

# Environments
.env
.venv/
env/
venv/

# IDEs / herramientas específicas
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Logs / Archivos temporales
*.log
*.tmp
